.login-form {
    margin: 0 auto;
    width: 300px;


}

.login-container h2 {

    text-align: center;
    margin: 1em;
    padding: 1em;
}

.login-form p {
    margin-top: 1em;
}

.login-details {
    display: flex;
    flex-direction: column;
}

.login-details p:first-child {
    text-align: center;
}