nav {
    background-color: rgb(24, 110, 160);
    height: 6em;

}

nav ul {
    display: flex;
    justify-content: flex-end;

    align-items: center;
}

.nav-box {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
    margin: 1.5em;
    color: white;
    background-color: rgba(240, 255, 255, 0.36);
    padding: 10px;
    border-radius: 5px;

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.search {
    align-self: flex-start;
    justify-self: flex-start;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {


    nav {
        height: unset;


    }

    nav ul {
        justify-content: center;
    }

    nav a {
        font-size: 1.2em;
    }

    nav li {
        margin: 1.1em;
        font-size: 0.9em;
    }


}

@media only screen and (max-width: 400px) {
    nav li {
        font-size: 0.8em;
    }
}