nav {
    background-color: rgb(24, 110, 160);
    height: 6em;
    width: 100%;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-box {
    display: flex;
    justify-content: space-between;
   
}

nav li {
    list-style: none;
    margin: 1.5em;
    color: white;
    background-color: rgba(240, 255, 255, 0.36);
    padding: 10px;
    border-radius: 5px;

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.search {
    align-self: flex-start;
    justify-self: flex-start;
}

.hamburger-icon, .cross-icon {
    display: none;
}

@media only screen and (max-width: 768px),
(min-device-width: 768px) and (max-device-width: 1024px) {


    nav {
        height: unset;


    }

    nav ul {
        justify-content: center;
        flex-direction: column;
        margin-top: 2em;
      
    }

    .hamburger-icon {
        display: block;
        font-size: 2rem;
        color: white;
        margin: 1em;


    }

     .cross-icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        margin: 1em;

    }

    .nav-items.show {
        background-color: rgb(24, 110, 160);
        height: 100vh;
        width: 100%;
        position: fixed;
    } 

    .nav-items.hide {
        display: none;
        
        
    }

    nav a {
        font-size: 1.2em;
    }

    nav li {
        margin: 1.1em;
        font-size: 0.9em;
    }


}

@media only screen and (max-width: 400px) {
    nav li {
        font-size: 0.8em;
    }
}