@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");


.patient-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    align-items: center;
    min-height: 100vh;
    
}

.patient-container h2 {
    margin-top: 1em;
}

 /* .list-items {
    display: flex;
    max-width: 1150px;
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 1em;


}  */




.table {
    margin: 0 auto;
    width: 1300px;
   border-collapse: collapse;
}

tr,
td,
th {
    padding: 15px;
    margin: 15px;
    text-align: center;
    background-color: white;


}

tbody tr:hover {
    background-color: rgba(31, 142, 206, 0.77);

}

tbody tr:last-child,
table tr:last-child {
    border-bottom: none;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table th {
    border-bottom: 1px solid #ddd;
}


table button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin: 0 auto;

}

.icon {

    font-size: 1.6em;
}

.error {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;

}

.highlighted {
    color: red;
}



@media screen and (max-width: 1200px) {
    .table-container {
        overflow-x: auto;
        width: 100%;
        height: auto;
        padding: 2em 0;
       
       
    }
    
    
}
 
   




