.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.2em;


}

.search-btn {
    background-color: rgba(255, 255, 255, 0.171);
    border: white 1px solid;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    margin: 0 1em;
    padding: .3em;
    cursor: pointer;
}

.search {

    align-self: center;
    margin: auto;

}

.search>div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
    font-family: 'Roboto', 'sans-serif';
}

.search>div:after {
    content: "";
    background: white;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: -4px;
    transform: rotate(135deg);
}

.search>div>input {
    color: white;
    font-size: 16px;
    background: transparent;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search>div>input::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search>div>input:focus::placeholder {
    opacity: 1;
}

.search>div>input:focus,
.search>div>input:not(:placeholder-shown) {
    width: 250px;
}

@media only screen and (max-width: 400px) {
   
   .search-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

   }

    .search>div>input:focus,
.search>div>input:not(:placeholder-shown) {
    width: 150px;
}


.search {
    margin: 1em;
}
.search-btn {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;

}


}